<!doctype html>
<html>
  <head>
    <title>CareZone Chatt Demo</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      .channels { background:#555; padding:10px; width:250px; fixed: left; }
    </style>
  </head>
  <body ng-app="CareZoneChat" ng-controller="CareZoneChatController">
    <div class="channels">
       username: <input ng-model="username" type="text">
    </div>
    <ul id="messages">
      <li ng-repeat="msg in messages">
        {{msg.username}}: {{msg.message}}
      </li>
    </ul>
    <form ng-submit="sendMessage()">
      <input autocomplete="off" ng-model="message" />
      <input type="submit" value="send"/>
    </form>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="/client.js"></script>
  </body>
</html>